<div class="page-header">
  <h1>Edit Meter Reading</h1>
</div>
<%= render :partial => 'form' %>
<%= content_for :right_sidebar do %>
  <a href="/meter_readings/new" class="btn btn-primary">Add new meter reading</a>
  <a href="/meter_readings" class="btn btn-primary" style="margin-top: 20px;">View all readings</a>
<% end %>

