<%= form_for @group, :html => { :class => 'form-horizontal' } do |f| %>
  <%= html_errors @group %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group well">
    <div class="col-lg-offset-2 col-lg-10">
      <input class="btn btn-default" name="commit" type="submit" value="Save Group details">
      <a href="/groups" class="btn">Cancel</a>
    </div>
  </div>
<% end %>
